.flag-icon {
    position:relative ;
    width: 4em;
    height: 2.5em;
    margin-right: 10px;
}

.selected {
  background-color: darkgrey;
}

iframe {
  margin: 20px;
}

.nav-link.active {
    font-weight: bold;
    color: red; /* Change color as needed */
}