
.home {
  background-image: url(images/bdx-1.jpg);
  background-size: cover;
  background-repeat:repeat-y;
  height: fit-content;
}


.flag-icon {
    position:relative ;
    width: 4em;
    height: 2.5em;
    margin-right: 10px;
    float: left;
}


.nav-link.active {
    font-weight: bold;
}

.bg-banner-custom {
      background-color: rgba(230, 57, 70, 0.8);
      border-radius: 10px;
}



iframe {
  margin: 20px;
  float: left;
  border-radius: 10px;
}

.bg-primary-custom {
  background-color: #8B0000; 
}
.bg-secondary-custom {
  background-color: #F0F0F0; 
}
.bg-tertiary-custom {
  background-color: #F7EDE2; /* Light Beige */
}


.text-primary-custom {
  color: #8B0000; 
}
.text-secondary-custom {
  color: #333; /* Light Grey */
}
.text-tertiary-custom {
  background-color: #F7EDE2; /* Light Beige */
}
.text-banner-custom {
  color: #FFF;
}

