
body {
  background-image: url(images/bordeaux-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
}


.flag-icon {
    position:relative ;
    width: 4em;
    height: 2.5em;
    margin-right: 10px;
    float: left;
}

.container{
  line-height: 1.5;
}

.nav-link.active {
    font-weight: bold;
    color: red; 
}

.bg-banner-custom {
      background-color: rgba(230, 57, 70, 0.8);
      border-radius: 10px;
    }



.header{
  float: left;
}

iframe {
  margin: 20px;
  float: left;
}



.french-flag {
  overflow: hidden;
}